$color-primary: #00adbb;
$color-primary-darkened: #009abf;
$color-secondary: #12284c;
$color-secondary-darkened: #0c1b33;
$white: #ffffff;
$negative: #d23a20;
$gray500: #4d4d4d;
$grey400: #262626;
$grey300: #808080;
$grey200: #e6e6e6;
