$container: 1440px;

.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 20px;
}

@mixin media_query($size_device) {
    @if $size_device == small_mobile {
        @media (max-width: 374px) {
            @content;
        }
    } @else if $size_device == tablet {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $size_device == desktop {
        @media (min-width: 992px) {
            @content;
        }
    }
}

.hidden {
    display: none;
}